@media only screen and (max-width: 768px) {

  .slidess {
    position: relative;
    right: 75px;
  }
}

@media only screen and (max-width: 768px) {

  .slides {

    width: 1000px;
    position: relative;
    right: 70px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .slidesss {


    position: relative;
    bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {

  .slidessss {


    position: relative;

    left: 100px;
    position: fixed;
  }
}


.font-Manrope {
  font-family: "Manrope", sans-serif;
}

.slide-font-color {
  color: rgba(66, 40, 27, 1);
  font-weight: 500;
}